<div class="container text-center">
    <div class="row justify-content-center">
        <div class="card text-success mt-5" style="width: 30em">
            <blockquote class="blockquote">
                <p class="mb-0 p-3">
                    <i class="fa fa-quote-left fa-lg"></i>
                    {{quote.quote}}
                </p>
                <footer class="blockquote-footer text-sucess" [innerText]="quote.author"></footer>
            </blockquote>
            <div class="row justify-content-center">
                <a target="blank" [href]="'https://twitter.com/intent/tweet?text=' + quote.quote" class="btn btn-outline-success  m-2">
                    <i class="fa fa-twitter"></i>
                </a>
                <button class="btn btn-outline-success m-2" (click)="getQuote()">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div> 
    </div>
    
</div>